solutions/SharePointOnlineWebhookReceiver/src/Workflows/SharePointOnlineWebhookReceiverOnNotificationCallb-011E684A-6535-F011-8C4D-000D3AAC0DD8.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Process_request": {
          "runAfter": {},
          "type": "Switch",
          "expression": "@if(not(equals(triggerOutputs()?['queries']?['validationtoken'], null)), 'ValidationRequest', 'NotificationPayload')",
          "cases": {
            "Validation request": {
              "case": "ValidationRequest",
              "actions": {
                "Response_to_validation_request": {
                  "runAfter": {},
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "text/plain; charset=utf-8"
                    },
                    "body": "@triggerOutputs()['queries']['validationtoken']"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Notification_count": {
                "runAfter": {},
                "type": "Compose",
                "inputs": "@length(union(triggerBody()['value'], json('[]')))"
              },
              "Response_accepted": {
                "runAfter": {
                  "Notification_count": [
                    "Succeeded"
                  ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 202
                }
              },
              "Response_bad_request": {
                "runAfter": {
                  "Notification_count": [
                    "Failed"
                  ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 400,
                  "body": {
                    "error": {
                      "code": "InvalidPayload",
                      "message": "HTTP request payload must be a valid JSON-payload containing an object at the root of the document, containing at least the property 'value' which must be an array value."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
